  <link rel="stylesheet" href="stylesheets/form.css">
<<<<<<< HEAD
<!--
<h3>No online account</h3>
<h1>Register here</h1>-->

<%= render 'form' %>

<div class="linkblock">
<%= link_to 'Back to Home', home_url %>
</div>
=======

<h3>No online account</h3>
<h1>Register here</h1>

<%= render 'form' %>

<%= link_to 'Back to Home', home_url %>
>>>>>>> cff5fa3a69dffc444e4e3c7240a678256d687cce
