<header><h1>Contact Us</h1></header>

<section>



<!--REGISTER FORM-->

<form action="feedback.php" method="post" name="feedback">
<legend><p>No online account<br><span>Register here<span></p></legend>
<fieldset>
  <div class="field">
  <label for="Name">Name:</label><input type="text" name="name" id="name" value="enter name"><br>
 
  </div>
  <div class="field">
  <label for="email">email:</label><input type="text" name="email" id="email" value="enter email address"><br>
   
  </div>
  <div class="field">
  <label for="password">password:</label><input type="text" name="password" id="password" value="enter password"><br>

  </div>
  <div class="field">
  <label for="password confirmation">confirm pass:</label><input type="text" name="password confirmation" id="password confirmation" value="confirm password"><br>

  </div>
 
  <div class="actions">
  <input type="submit" value="register">

 
  </div>
  
</fieldset>
</form>

</section>


<%= link_to 'Back to Home', root_url %>