<h1>Home Page</h1>

<%= notice %>

<% if @user.present? %>
  <%= @user.email %>
<% end %>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat ipsum ac nisi mattis vel sollicitudin neque pharetra. Maecenas ut elit enim, at vulputate mi. Sed posuere erat a arcu scelerisque quis feugiat tortor aliquam. Sed et ante lorem, a malesuada dui. Sed condimentum vehicula porta. Quisque in nulla nisi, quis bibendum lectus. Duis fermentum purus sollicitudin nisi fermentum lacinia. Etiam tempus ullamcorper interdum. Donec sit amet nunc nibh, ac dignissim dolor. Vestibulum pharetra venenatis lorem, eu fringilla risus porttitor ut. Suspendisse consequat, arcu non dapibus adipiscing, felis nulla gravida quam, vel accumsan eros nisi vel arcu. Vestibulum sodales, eros ac scelerisque varius, felis elit eleifend tellus, at blandit tortor magna ac elit. Cras a risus arcu, et faucibus ante. Integer tempus nisi vel lacus convallis molestie. Praesent pharetra nulla nec magna consectetur sit amet pulvinar magna tristique. Pellentesque mollis, nunc non tempor imperdiet, eros arcu vulputate mi, quis aliquet ante lectus vel turpis.

Cras ac arcu libero. Aenean eget tellus lacus. Aenean adipiscing tincidunt mi ut mollis. Sed eget magna non dui fermentum fermentum. Nullam arcu nunc, scelerisque vel laoreet sed, ullamcorper tempus erat. Curabitur interdum lobortis hendrerit. Maecenas varius tempor commodo. Curabitur dignissim bibendum nisl, eu eleifend libero rutrum et. Integer luctus sapien non nisl sodales nec suscipit augue vehicula. Aenean nec quam ligula, eget adipiscing metus. Nam vitae urna in diam auctor faucibus. Integer vehicula fermentum tortor sit amet gravida. Nunc cursus odio nec magna luctus ut blandit sem blandit.

Mauris arcu nisl, eleifend ut fermentum nec, mattis eu lorem. Sed iaculis feugiat nisi et ullamcorper. Curabitur dictum nisl sed metus sagittis ullamcorper. Fusce risus enim, cursus non feugiat in, consequat in ligula. Morbi auctor laoreet mi vel rhoncus. Cras aliquet placerat rhoncus. Maecenas quis mi vel enim ultrices mattis a non magna. Integer commodo enim a augue lacinia dapibus. Sed nisi lacus, pellentesque eu malesuada et, fringilla ut libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a lacus mauris, sed egestas metus.

Sed ac tempus nisi. Quisque at nibh ut justo cursus pellentesque nec vel erat. Aliquam porttitor auctor placerat. Maecenas ipsum erat, posuere at convallis eget, suscipit sed nisl. Donec a ante est. Nullam ultricies, turpis mattis luctus tincidunt, magna sem dictum magna, id pellentesque velit massa vel nunc. Sed a malesuada neque. Proin augue nibh, viverra a dictum eu, elementum a lectus. In hac habitasse platea dictumst.

Phasellus a velit leo, non ullamcorper ligula. Duis sit amet libero metus. Vestibulum commodo massa non felis auctor fringilla. Sed nisi elit, eleifend ut tempor eget, fringilla sit amet risus. Quisque pellentesque ligula at est scelerisque rhoncus. Integer aliquet neque neque. Maecenas aliquet fringilla tortor, sit amet auctor nibh fringilla id.

