<head>
   <link rel="stylesheet" href="stylesheets/pages.css.scss">
    <link href='http://fonts.googleapis.com/css?family=Lusitana:700' rel='stylesheet' type='text/css'>

</head>


<% if flash[:notice]%>
  <h2 class="notice"> 
     <%= flash[:notice] %>
  </h2>
<%end%>
<% if @user.present? %>
  <%= @user.email %>
<% end %>

<div class="clear" </div>

<section>


<article class ="box">
<div class="cimage"></div><h1><a href="http://www.espn.com">Stone/Brick Mason</a></h1>
</article>

<article class ="box">
<div class="pimage"></div><h1><a href="http://www.espn.com">Pipe Fitter</a></h1>
</article>

<article class ="box">
<div class="mimage"></div><h1><a href="http://www.espn.com">Auto Mechanic</a></h1>
</article>

<article class ="box">
<div class="eimage"></div><h1><a href="http://www.espn.com">Electrician</a></h1>
</article>

<article class ="box">
<div class="carp"></div><h1><a href="http://www.espn.com">Carpenters</a></h1>
</article>

<article class ="box">
<div class="boil"></div><h1><a href="http://www.espn.com">Boilermaker</a></h1>
</article>

<article class ="box">
<div class="iron"></div><h1><a href="http://www.espn.com">Iron Worker</a></h1>
</article>

<article class ="box">
<div class="sheetmetal"></div><h1><a href="http://www.espn.com">Sheet Metal Worker</a></h1>
</article>



</section>


<div class="clear"></div>

