<h1>My Shopping Cart</h1>

</br>

<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @cart.user_id %>
</p>


<%= link_to 'Continue Shopping', edit_cart_path(@cart) %> |
<%= link_to 'Checkout', cart_url %>
