<h1>My Shopping Cart | Dragging-Up</h1>

</br>

<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <b><%= @cart.user_id %></b>
</p>


<%= link_to 'Continue Shopping', tools_url %> |
<%= link_to 'Checkout', cart_url %>
