/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



body {
margin: 0 auto;
padding-top: 60px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
line-height: 18px;
color: #333;
background: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/dust.png");
}

/*start template nav*/

.top {
	font-family: 'Lusitana', serif;
	background: #eca;
	text-indent: 30px;
	font-size: 45px;
	padding-top: 10px;
	width: 100%;
	height: 40px;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;

}


.main-navbar {
	width: 100%;
	height: 40px;
	text-indent: 10px;
	background: #731;
	position: fixed;
	right: 0;
	left: 0;
	top: 40px;
	color: white;
	display: inline;
	

}


.login {
	float: right;
	font-size: 12px;
	padding-right: 10px;
	padding-top: 11px;
	margin-right: 15px;


}

.top a {
	text-decoration: none;
	color: black;
}

.top a:hover {
	background: #731;
	color: white;
}


.nav li {
	margin-right: 26px;
	list-style: none;
	float: right;
	position: relative;
	font-family: arial;
}

.nav a {
	text-decoration: none;
	color: white;
	display: block;
}


.nav li a:hover {
	border-radius: 5px;
	color: #eca;
}



header {
	padding: 10px;

}

.heading {
	font-size: 18px;
	line-height: 5px;
	text-indent: 20px;
}


/*end template nav*/


#content {
	padding-bottom: 200px;
}

.content-here {
	height: ;
	width: 500px;
}

/*end template nav
*/


/*
Form start*/



/*
register form
*/

#register {
	float: right;
	}

form{
	width:300px;
	padding: 0px;
	margin: 0px;
	border: 1px solid #CCC;
	}
	
fieldset {
   border: 0px;
   width: 266px;
   padding-bottom: 50px;
	}
	
legend {
	width: 100%;
	height: 65px;
	border: 1px solid #CCC;

	padding: 0px;
	margin-bottom: 8px;
	
background: #f9f1e3; /* Old browsers */
background: -moz-linear-gradient(top,  #f9f1e3 0%, #dfcdb1 32%, #f4e9d8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f1e3), color-stop(32%,#dfcdb1), color-stop(100%,#f4e9d8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f9f1e3 0%,#dfcdb1 32%,#f4e9d8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f9f1e3 0%,#dfcdb1 32%,#f4e9d8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f9f1e3 0%,#dfcdb1 32%,#f4e9d8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f9f1e3 0%,#dfcdb1 32%,#f4e9d8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f1e3', endColorstr='#f4e9d8',GradientType=0 ); /* IE6-9 */
	}
	
legend p {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
color: #333;
padding-left: 12px;
	}
	
legend p span {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 24px;
color: #731;
	}
	
label, input {
margin-bottom: 18px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 12px;
font-weight: bold;
line-height: 18px;
}
	
label {
	color: #666;
	width: 80px;
	float: left;
	/*clear helps break filed boxes*/
	clear: both;
		}
		
fieldset input{
	width: 155px;
	float: right;
	color: #999;
	line-height: 2em;
		}
		
input[type='text'], [type='email']{
	background: #fff;
	}
	
	input[type='submit'], input[type='reset']{
		
		padding: 8px;
			clear: both;
		}
		
		input:focus {
			background: yellow;
			}
			
/*
sign in form
*/

#signin {
	float: right;
	padding: 0px;
	}

#signin p a {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
	text-decoration: none;
	padding-left: 14px;
}
/* End Form CSS*/

.clear {
	clear: both;
}

/* start template footer*/

footer {
	width: 100%;
	height: 40px;
	color: white;
	text-indent: 10px;
	background: #731;
	line-height: 44px;
	/*margin-top: 300px;*/

/*end footer template*/

}






