// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notice {
  color:red
}

.clear {
	clear: both;
}

/*home page trade buttons*/

h1 {
	/*font-family: 'trade gothic', Arial, Helvetica, sans-serif;    */
    font-family: 'PT Sans Narrow', sans-serif;
	font-size:2em;
	font-weight: normal;

}

h1 a {
	text-decoration: none;
	color: black;
	
}

h1 a:hover {
	color: sandybrown;

}

h1 a:active {
	background: #731;
}

header {
	padding-top: 30px;
	padding-left: 21px;
	font-size: 30px;
}


section {
	margin-top: 20px;
	margin-left: 71px;
	
}

.box {
	width: 275px;
	padding: 0px 0px 0px;
	margin: 14px;
	border:1px solid #e7e2d7;
	border-radius:8px;
	-webkit-border-radius:.8em;
	-moz-border-radius:.8em;
	background:#fff;
	float: left;
}

.cimage, .pimage, .mimage, .eimage, .carp, .boil, .iron, .sheetmetal {
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 8px;
	}

article {
	float:right;
	width:620px;
	text-align:left;
}

article h1 {
	/*background-color: #ef8700;*/
	color:#999;
	padding:33px 10px 12px 30px;
	margin-bottom: 20px;
	text-shadow:0 1px 0 #403232;
	border-bottom: 3px solid sandybrown;
}



article p:first-of-type {
	font-family:Helvetica, Arial, serif;
	border-top:1px dotted #968765;
	border-bottom:1px dotted #968765;
	padding:10px 0px;
	color:#333;
}

.cimage {
background: url(/assets/brick_mason.jpg) right top no-repeat;
	}
	
.pimage {
background: url(/assets/hood_torch.jpg) right top no-repeat;
	}
	
.mimage {
background: url(/assets/tools.jpg) right top no-repeat;
	}
	
.eimage {
background: url(/assets/drill.jpg) right top no-repeat;
	}
	
.carp {
background: url(/assets/hand_hammer.jpg) right top no-repeat;
	}

.boil {
background: url(/assets/hood_sparks.jpg) right top no-repeat;
	}

.iron {
background: url(/assets/hammer_anvil.jpg) right top no-repeat;
	}

.sheetmetal {
background: url(/assets/wrench_flame.jpg) right top no-repeat;
	}


.clear {
	clear: both;

}

/* end home page trade buttons*/


/*
register form
*/

#register {
	float: right;
	}

form{
	width:300px;
	padding: 0px;
	margin: 0px;
	border: 1px solid #CCC;
	}
	
fieldset {
   border: 0px;
   width: 266px;
   padding-bottom: 50px;
	}
	
legend {
	width: 100%;
	height: 65px;
	border: 1px solid #CCC;

	padding: 0px;
	margin-bottom: 8px;
	
background: #f9f1e3; /* Old browsers */
background: -moz-linear-gradient(top,  #f9f1e3 0%, #dfcdb1 32%, #f4e9d8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f1e3), color-stop(32%,#dfcdb1), color-stop(100%,#f4e9d8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f9f1e3 0%,#dfcdb1 32%,#f4e9d8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f9f1e3 0%,#dfcdb1 32%,#f4e9d8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f9f1e3 0%,#dfcdb1 32%,#f4e9d8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f9f1e3 0%,#dfcdb1 32%,#f4e9d8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f1e3', endColorstr='#f4e9d8',GradientType=0 ); /* IE6-9 */
	}
	
legend p {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
color: #333;
padding-left: 12px;
	}
	
legend p span {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 24px;
color: #731;
	}
	
label, input {
margin-bottom: 18px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 12px;
font-weight: bold;
line-height: 18px;
}
	
label {
	color: #666;
	width: 80px;
	float: left;
	/*clear helps break filed boxes*/
	clear: both;
		}
		
fieldset input{
	width: 155px;
	float: right;
	color: #999;
	line-height: 2em;
		}
		
input[type='text'], [type='email']{
	background: #fff;
	}
	
	input[type='submit'], input[type='reset']{
		
		padding: 8px;
			clear: both;
		}
		
		input:focus {
			background: yellow;
			}
			
/*
sign in form
*/

#signin {
	float: right;
	padding: 0px;
	}

#signin p a {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
	text-decoration: none;
	padding-left: 14px;
}
/* End Form CSS*/



footer {
	width: 100%;
	height: 40px;
	color: white;
	text-indent: 10px;
	background: sandybrown;
	line-height: 44px;
	margin-top: 300px;
}


/*
Help page attributes
*/

.helpcontainer {
	width: 600px;
	margin: 200px auto 0px;

}

.helpcontainer p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #333;
	margin-bottom: 50px;

}

.helpcontainer h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	color: #731;
	padding-left: 12px;
	margin-top: 20px;
}

/*
contact properties
*/

#contactcontainer {
	width: 100%;
	margin-top: 160px;
}

#contactcontainer form {
	margin: auto;
	background-color: #fff;
}

#contactcontainer fieldset {
	margin-bottom: 20px;

}

#contactcontainer label {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;	
}

#contactcontainer input {
	width: 155px;
	float: right;
	color: #999;
	line-height: 1.6em;
	color: #999;
	padding: 0px;
}

#contactcontainer .field {
	width: 260px;
	padding-left: 6px;
	padding-top: 10px;
}

#contactcontainer .Text_Body {
	
width: 257px;
}

.CommentButton {
margin-top: 10px;
	
}