// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notice {
  color:red
}



/*home page trade buttons*/

h1 {
	/*font-family: 'trade gothic', Arial, Helvetica, sans-serif;    */
    font-family: 'PT Sans Narrow', sans-serif;
	font-size:2em;
	font-weight: normal;

}

h1 a {
	text-decoration: none;
	color: black;
	
}

h1 a:hover {
	color: #eca;

}

h1 a:active {
	background: #731;
}

.cworker, .pipefitter, .mechanic, .electrician, .tradesperson1, .tradesperson2, .tradesperson3, .tradesperson4 {
	width: 26%;
	padding:10px 20px 20px;
	margin:10px;
	border:1px solid #e7e2d7;
	border-radius:8px;
	-webkit-border-radius:.8em;
	-moz-border-radius:.8em;
	background:#fff;
	float: left;
}

article {
	float:right;
	width:620px;
	text-align:left;
}

article h1 {
	/*background-color: #ef8700;*/
	color:#999;
	padding:33px 10px 12px 30px;
	margin-bottom: 20px;
	text-shadow:0 1px 0 #403232;
	border-bottom: 3px solid #eca;
}



article p:first-of-type {
	font-family:Helvetica, Arial, serif;
	border-top:1px dotted #968765;
	border-bottom:1px dotted #968765;
	padding:10px 0px;
	color:#333;
}

.cimage {
background: url(../images/cworker.jpg) right top no-repeat;
	}
	
.pimage {
background: url(../images/pipefitter.jpg) right top no-repeat;
	}
	
.mimage {
background: url(../images/mechanic.jpg) right top no-repeat;
	}
	
.eimage {
background: url(../images/electrician.jpg) right top no-repeat;
	}
	
.t1image, .t2image, .t3image, .t4image {
background: url(../images/under.jpg) right top no-repeat;
	}

.cimage, .pimage, .mimage, .eimage, .t1image, .t2image, .t3image, .t4image {
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 8px;
	}




/* end home page trade buttons*/
